<h2>All the pets!!</h2>

<ul>
  <% @pets.each do |pet| %>
    <li> <%= pet.name %> </li>
    <% if policy(pet).destroy? %>
      <%= link_to "Delete", pet_path(pet), method: :delete, data: { confirm: "Are you sure?" }%>
    <% end %>
  <% end %>
</ul>


