
<h2>Pets in your area:</h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @pets.each do |pet| %>
        <div class="card">
          <div class="card-category"><%= pet.name %></div>
          <div class="card-user"><%= cl_image_tag pet.photo %>
          </div>
          <%= link_to "Details", pet_path(pet), class: "btn-medium"%>
        </div>
        <% if policy(pet).destroy? %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
