<h1>My Bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= booking.nice_date %>
      <%= booking.pet.name %> : <%= booking.pet.animal_type %>
    </li>
  <% end %>
</ul>

<%= link_to "Back", pets_path %>
