<div class="footer footermain">
  <div class="footer-links">
    <a href="https://www.instagram.com/pawlidaystokyo/" target="_blank" class="footlinks"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Pawlidays-Tokyo-225453321358876/" target="
    _blank" class="footlinks"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    <strong>©</strong> Copyright Pawlidays 2018.
  </div>
</div>
