<div class="footer footermain">
  <div class="footer-links">
    <a href="https://www.instagram.com/pawlidays/" target="_blank" class="footlinks"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/pawlidays/" class="footlinks"><i class="fab fa-facebook"></i></a>
    <a href="#" class="footlinks"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <strong>©</strong> Copyright Pawlidays 2018.
  </div>
</div>
