<div class="background">
  <div class="content">
    <p> </p>
    <p> </p>
    <h1 class="landing-title">Welcome to <strong>Paw</strong>lidays</h1>
    <h4>The number one pet sitting service in Japan.</h4>
    <div><%= image_tag("landing_fix.png") %></div>
    <div class:"landing-button"><%= link_to(image_tag("bone_login.png", :alt => "bone", :title => "Get Started"), pets_path) %></div>
  </div>
</div>
