.booking-card {
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.booking-photo img {
  border-radius: 10px;
}

// .booking-content {

// }
