.card {
  position: relative;
  font-size: 32px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  background-position: center;
  background-size: cover !important;
  box-shadow: 3px 3px 10px #c0d0d2;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: #2b475e;
  position: relative;
  border-radius: 5px;
  margin: 10px auto;
  transform: scale(0.95);
  transition: box-shadow 0.3s, transform 0.3s;
  &:hover{
    text-decoration: none;
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
}

.card-user {
  position: absolute;
  right: 25px;
  top: 25px;
  img {
    width: 120px;
    border-radius: 50%;
    border-style: solid;
    box-shadow: 1px 1px 1px #c0d0d2;
  }
}

.card-category {
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


.all-cards {
  flex-grow: 1;
  a:hover{
    text-decoration: none;
  }
}

.pet-details a{
  list-style: none;
  text-decoration: none;
}

.pet-details:hover a{
  text-decoration: none;
}


