.wrapper-map {
  display: flex;
}

.mapper {
  flex: 0 0 30%;
  height: 100vh;
  margin-top: 93px;
  margin-right: 10px;
  margin-bottom: 15px;
  position: sticky !important;
  top: 0 !important;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #c0d0d2;
}
